@import './styles/variables';

.container {
  height: 100vh;
  background: #e3e3e3;
  &--remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
  }
}

input[type='checkbox'] {
  background: $white;
  font-size: 2em;
}

.container, .form {
  display: flex;
  justify-content: center;
  align-items: center;
}